<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <%- include('layouts/head') %>

</head>

<body>

    <!-- header -->

    <main>
        <div class="main-wrapper pb-0 mb-0">
            <div class="timeline-wrapper">
                <div class="timeline-header">
                    <div class="container-fluid p-0">
                        <div class="row no-gutters align-items-center">
                            <div class="col-lg-6">
                                <div class="timeline-logo-area d-flex align-items-center">
                                    <div class="timeline-logo">
                                        <a href="index.html">
                                            <img src="/assets/images/logo/tdt.png" alt="timeline logo">
                                        </a>
                                    </div>
                                    <div class="timeline-tagline">
                                        <h6 class="tagline">Light from here shall illuminate the entire universe.</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeline-page-wrapper">
                    <div class="timeline-bg-content bg-img background-tdt" data-bg="/assets/images/timeline/timeline-login.jpg">
                        <div class="card sdfasfdsa">
                            <div class="card-body"> 
                                <div class="login-form">
                                    <h1>LOGIN</h1>
                                    <form action="auth" method="POST">
                                        <input type="text" name="username" placeholder="Username" required>
                                        <input type="password" name="password" placeholder="Password" required>
                                        <input type="submit">
                                        <button class="button"><img src="/assets/images/logo/google.jpg" />Login with google</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Scroll to top start -->
    <%- include('layouts/scroll.ejs') %>
        <!-- Scroll to Top End -->

        <!-- footer listfriend message include footer in here-->


        <!-- JS
============================================ -->

        <%- include('layouts/javascript.ejs') %>

</body>

</html>