<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>TDTU</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <style>
        a {
          text-decoration: none;
          display: inline-block;
          padding: 8px 16px;
        }
        
        a:hover {
          background-color: #ddd;
          color: black;
        }
        
        .previous {
          background-color: #f1f1f1;
          color: black;
        }
        
        .next {
          background-color: #04AA6D;
          color: white;
        }
        
        .round {
          border-radius: 50%;
        }
        </style>
    <%- include('layouts/head') %>

</head>

<body>

    <!-- header -->
    <%- include('layouts/header.ejs') %> 

    <main>
        
        <div class="main-wrapper pt-80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card widget-item">
                            <h4 class="widget-title">New notification</h4>
                            <div class="about-me">
                                <ul class="nav flex-column about-author-menu">
                                    <li><a href="#one" data-toggle="tab" class="active">
                                            <h6>Notifications A</h6>
                                        </a>
                                        <span class="post-time">20 min ago</span>
                                    </li>
                                    <li><a href="#two" data-toggle="tab">
                                            <h6>Notifications B</h6>
                                        </a>
                                        <span class="post-time">45 min ago</span>
                                    </li>
                                    <li><a href="#three" data-toggle="tab">
                                            <h6>Notifications C</h6>
                                        </a>
                                        <span class="post-time">1 hrs ago</span>
                                    </li>
                                    <li><a href="#four" data-toggle="tab">
                                            <h6>Notifications D</h6>
                                        </a>
                                        <span class="post-time">2 hrs ago</span>
                                    </li>
                                    <li><a href="#five" data-toggle="tab">
                                            <h6>Notifications E</h6>
                                        </a>
                                        <span class="post-time">2 hrs ago</span>
                                    </li>
                                    <li><a href="#six" data-toggle="tab">
                                            <h6>Notifications F</h6>
                                        </a>
                                        <span class="post-time">3 hrs ago</span>
                                    </li>
                                </ul>
                                <a href="#" class="previous round">&#8249;</a>
                                <a href="#" class="next round">&#8250;</a>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="about-description">
                            <div class="tab-content">
                                <div class="tab-pane fade active show" id="one">
                                    <div class="work-zone">
                                        <div class="author-desc-title d-flex">
                                            <h6 class="author"><a href="profile.html">Notifications A</a></h6>
                                            <div class="post-settings-bar">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <div class="post-settings arrow-shape">
                                                    <ul>
                                                        <li><button>copy link to adda</button></li>
                                                        <li><button>edit post</button></li>
                                                        <li><button>embed adda</button></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
                                        <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search</p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="two">
                                    <div class="work-zone">
                                        <div class="author-desc-title d-flex">
                                            <h6 class="author"><a href="profile.html">Notifications B</a></h6>
                                            <div class="post-settings-bar">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <div class="post-settings arrow-shape">
                                                    <ul>
                                                        <li><button>copy link to adda</button></li>
                                                        <li><button>edit post</button></li>
                                                        <li><button>embed adda</button></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
                                        <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search</p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="three">
                                    <div class="work-zone">
                                        <div class="author-desc-title d-flex">
                                            <h6 class="author"><a href="profile.html">Notifications C</a></h6>
                                            <div class="post-settings-bar">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <div class="post-settings arrow-shape">
                                                    <ul>
                                                        <li><button>copy link to adda</button></li>
                                                        <li><button>edit post</button></li>
                                                        <li><button>embed adda</button></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
                                        <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search</p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="four">
                                    <div class="work-zone">
                                        <div class="author-desc-title d-flex">
                                            <h6 class="author"><a href="profile.html">Notifications D</a></h6>
                                            <div class="post-settings-bar">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <div class="post-settings arrow-shape">
                                                    <ul>
                                                        <li><button>copy link to adda</button></li>
                                                        <li><button>edit post</button></li>
                                                        <li><button>embed adda</button></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
                                        <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search</p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="five">
                                    <div class="work-zone">
                                        <div class="author-desc-title d-flex">
                                            <h6 class="author"><a href="profile.html">Notifications E</a></h6>
                                            <div class="post-settings-bar">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <div class="post-settings arrow-shape">
                                                    <ul>
                                                        <li><button>copy link to adda</button></li>
                                                        <li><button>edit post</button></li>
                                                        <li><button>embed adda</button></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
                                        <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search</p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="six">
                                    <div class="work-zone">
                                        <div class="author-desc-title d-flex">
                                            <h6 class="author"><a href="profile.html">Notifications F</a></h6>
                                            <div class="post-settings-bar">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <div class="post-settings arrow-shape">
                                                    <ul>
                                                        <li><button>copy link to adda</button></li>
                                                        <li><button>edit post</button></li>
                                                        <li><button>embed adda</button></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
                                        <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
        

    </main>
    <div class="scroll-top not-visible">
        <i class="bi bi-finger-index"></i>
    </div>
    <!-- Scroll to top start -->
    <!-- Scroll to Top End -->

    <!-- footer listfriend message include footer in here-->
    
    
    <!-- JS
============================================ -->

    <%- include('layouts/javascript.ejs') %>

</body>

</html>