<!-- START SIDEBAR -->
<div class="sidebar clearfix">

    <ul class="sidebar-panel nav">
        <li class="sidetitle">MAIN</li>
        <!-- <li><a href="index.html"><span class="icon color5"><i class="fa
                        fa-home"></i></span>Danh sách bài viết<span class="label
                    label-default">2</span></a></li> -->
        <li><a href="#"><span class="icon color7"><i class="fa fa-home"></i></span>Danh
                sách tài khoản<span class="caret"></span></a>
            <ul>
                <li><a href="#">Xem tất cả</a></li>
                <li><a href="#">Thêm tài khoản</a></li>
            </ul>
        </li>
        <li><a href="#"><span class="icon color7"><i class="fa fa-flask"></i></span>Danh
                sách thông báo<span class="caret"></span></a>
            <ul>
                <li><a href="#">Xem tất cả</a></li>
                <li><a href="#">Thêm thông báo</a></li>
            </ul>
        </li>

        <li><a href="#"><span class="icon color7"><i class="fa fa-flask"></i></span>Danh
                sách bài viết<span class="caret"></span></a>
            <ul>
                <li><a href="#">Xem tất cả</a></li>
                <li><a href="#">Thêm bài viết</a></li>
            </ul>
        </li>

        <li><a href="#"><span class="icon color7"><i class="fa fa-flask"></i></span>
                Danh sách phòng ban<span class="caret"></span></a>
            <ul>
                <li><a href="#">Xem tất cả</a></li>
                <li><a href="#">Thêm phòng ban</a></li>
            </ul>
        </li>

        <li><a href="#"><span class="icon color7"><i class="fa fa-flask"></i></span>
                Thể loại thông báo<span class="caret"></span></a>
            <ul>
                <li><a href="#">Xem tất cả</a></li>
                <li><a href="#">Thêm loại thông báo</a></li>
            </ul>
        </li>
    </ul>
</div>
<!-- END SIDEBAR -->